---
import Hamburger from "./Hamburger.svelte";
import Navigation from "./Navigation.svelte";
import ThemeIcon from "./ThemeIcon.astro";
---

<header>
    <nav>
        <Hamburger />
        <ThemeIcon />
        <Navigation />
    </nav>
</header>
